body { background: #8613b9; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 39px; display: flex; }
.block-config-0 { color: #493ea4; font-size: 21px; margin-bottom: 5px; }
.block-user-1 { color: #d48039; font-size: 16px; margin-bottom: 5px; }
.block-logger-2 { color: #ce4576; font-size: 16px; margin-bottom: 5px; }
.block-router-3 { color: #734f60; font-size: 14px; margin-bottom: 5px; }
.block-logger-4 { color: #c6d4c1; font-size: 15px; margin-bottom: 5px; }